@media (max-width: 1300px) {
    header {
        .navbar {
            .nav-item {
                margin: 0 15px;                
            }           
        }        
    }

    
}

@media (max-width: 1200px) {
    .btn{
        padding: 8px 15px;
        font-size: 14px;
    }
    .btn.btn-primary{
        font-size: 12px;
    }
    header {
        .navbar{
            .nav-item{
                .nav-link{
                    color: $primary_black;
                    &:hover,
                    &:active,
                    &:focus{
                        color: $primary_black;
                         border-bottom: 4px solid $primary_color;
                    }
                }
            }
            .navbar-brand{
                img{
                    width: 130px;
                }
            }
        }     
    }

    .navbar-toggler{
        background: $primary_color;
        color: $primary_white;
        width: 40px;
        height: 40px;
        padding: 0px;
        border-radius: 10px;
        box-shadow: 0 0 15px 1px rgb(0 0 0 / 7%);
        i{
            font-size: 120%;
        }
        &:active,
        &:focus,
        &:hover{
            box-shadow: none;
            outline: none;
        }
    }

    .offcanvas-header{
        justify-content: end;
        padding: 80px 40px 0px 0px;
        button{
            position: relative;
            background: $primary_color;
            width: 24px;
            height: 24px;
            color: $primary_white;
            opacity: 1;
            border-radius: 10px;
            box-shadow: 0 0 15px 1px rgb(0 0 0 / 7%);
            &:after{
                content: '\E810';
                position: absolute;
                font-family: 'fontello';
                color: $primary_white;
                top: 7px;
                left: 1px;
                right: 0px;
                font-size: 120%;
            }
        }
    }

    header {        
        .navbar {
            .nav-item {
                margin: 0 25px;
                .nav-link{
                    padding: 15px 0px;
                    display: inline-block;
                }
            }
        }
        .contact-us{
            margin-left: 20px;
            margin-top: 30px;
        }
    }
    .section-title{
        h2{
            font-size: 16px;
        }
        p{
            font-size: 14px;
        }

    }
    .section-1{
        min-height: 400px;
        span{
            font-size: 14px;
        }
        h1{
            font-size: 28px;
            span{
                font-size: 28px;
                border: 0px;
                letter-spacing: 0px;
                margin-top: 3px;
            }
        }
    }
    .section-3{
        .image{
            .content{
                padding: 20px 20px 20px 20px;
                h3{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .search-section{
        margin-top: -90px;
        .nav-tabs{
            .nav-item{
                width: 100%;
                &:first-child{
                    .nav-link{
                        border-top-right-radius:10px;
                    }
                }
                &:last-child{
                    .nav-link{
                        border-top-right-radius:0px;
                    }
                }
            }
        }

        .repeat-section{
            &:first-child{
                .search-item{
                    border-radius:0px;
                    border-bottom: 0px;
                }
            }
           &:nth-child(2){
                border: 1px solid $stroke_color;
                border-left:1px solid $stroke_color;
                border-bottom: 0px;
            }
            &:nth-child(3){
                border: 1px solid $stroke_color;
                border-left:1px solid $stroke_color;
                border-bottom: 0px;
            }
            &:nth-child(4){
                border: 1px solid $stroke_color;
                border-left:1px solid $stroke_color;
                border-bottom: 0px;
            }
            &:nth-child(5){
                border: 1px solid $stroke_color;
                border-left:1px solid $stroke_color;
                border-bottom: 0px;
            }
            &:last-child{
                .search-item{
                    border-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    .btn-outline-primary{
                        border-radius: 0px;
                        border-bottom-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                        padding: 10px 0px;
                    }
                   
                }
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered{
                font-size: 14px;
            }
        }
        
        .search-item{
            h4{
                font-size: 14px;
            }
        }
        
    }
    .section-2{
        .bg-section{
            .main-area{
                &:after{
                    display: none;
                }
                &:before{
                    display: none;
                }
            }
            .mobile-device{
                .box{
                    display: flex;
                    justify-content: center;
                }
                .text{
                    p{
                        text-align: center;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
    .section-4{
        .image{
            min-height: 280px;
        }
        .content{
            h3{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
        .arrow{
            height: 30px;
            width: 30px;
            font-size: 12px;
        }
        .right-arrow{
            right: -10px;
        }
        .left-arrow{
            left: -10px;
        }
    }
    .section-5{
        .image{
            border-radius: 15px;
            min-height: 270px;
            .content{
                padding: 10px 15px;
                h4{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }
                img{
                    width: 120px;
                }
            }
        }
    }
    .section-6{
        .image{
            min-height: 540px;
        }
        .arrow{
            height: 30px;
            width: 30px;
            font-size: 12px;
        }
        .right-arrow{
            right: -10px;
        }
        .left-arrow{
            left: -10px;
        }
        .main-slider{
            .card-bg{
                min-height: 350px;
                .hotels-details{
                    h3{
                        font-size: 14px;
                    }
                    .price{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .section-7{
        .arrow{
            height: 30px;
            width: 30px;
            font-size: 12px;
        }
        .right-arrow{
            right: -10px;
        }
        .left-arrow{
            left: -10px;
        }
    }
    .top-footer{
        .social-icon{
            a{
                    padding-left: 0px;
                    padding-right: 15px;
            }
        } 
    }
    footer{
        h4{
            font-size: 16px;
            padding-bottom: 20px;
        }
        ul{
            li{
                a{
                    font-size: 14px;
                }
            }
        }
    }
    .footer-bottom{
        p{
            text-align: center;
            font-size: 12px;
            
        }
    }
    .main-footer{
        .info{
            a{
                font-size: 14px;
            }
        }
        .payment-btn{
            .btn-blue{
                padding: 5px 10px;
                font-size: 13px;
                margin-top: 15px;
                span{
                    color: $primary_white;
                    padding-right: 5px;
                }
                small{
                    opacity: 0.7;
                }
            }
        }
    }
    .section-8{
        min-height: 250px;
    }
    .other-page{
         .repeat-section{
            &:last-child{
                .search-item{
                    width: 100%;
                }
            }
         }
    }
    .top-bg{
        min-height: 100px;
    }
    .search-section{
        margin-top: 30px;
    }
    .breadcrumb-section{
        .breadcrumb{
            .breadcrumb-item{
                font-size: 12px;
                a{
                    font-size: 12px;
                }
            }
        }
    }
    .section-10{
        .rating{
            display: inline-block;
            padding: 0px 2px;
            .badge{
                display: inline-block;
            }
        }
        .small-btn{
            padding: 5px 10px;
        }
        .title{
            h2{
                font-size: 18px;
                padding-top: 20px;
                padding-bottom: 10px;
            }
        }
        .hotel-gallery-section{
            .left-grid{
                padding: 0px 15px;
                margin-bottom: 15px;
            }
            .right-grid{
                padding: 0px 15px;
                margin-bottom: 15px;
            }

        }
        .amenities-section{
            .ul-section{
                li{
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    font-size: 14px;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 20px;
                    span{
                        position: absolute;
                        left: 0px;
                        top: -5px;
                    }
                }
            }
        }
        .title{
            h3{
                font-size: 16px;
                padding-bottom: 10px;
            }
            .price-section{
                .price{
                    b{
                        font-size: 16px;
                    }
                }
            }
        }
        .left-item{
            .left-card{
                .title{
                    font-size: 16px;
                    .price{
                        b{
                            font-size: 14px;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
        .main-box{
            .recommended-section{
                .btn-outline-primary{
                    padding: 5px 15px;
                }
            }
        }

        .custom-card{
            .check-in-tilte{
                padding-bottom: 10px;
            }
            .ul-part{
                ul{
                    padding-top: 10px;
                    li{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .other-page{
        .repeat-section{
            &:nth-child(5){
                border-left: 0px;
                border-radius: 0px;
                border-right: 0px;
            }
        }
    }
    .search-details-page {
        .seach-results {
            .row {
                .search-results-right {
                    .result-box {
                        .result-box-container {
                            padding: 0.5rem;
                            flex-wrap: wrap;
                            justify-content: center;
                            margin:0.5rem 0;

                            .result-box-container-left {
                                width: -webkit-fill-available;

                                img {
                                    height: unset;
                                    width: -webkit-fill-available;

                                }

                            }

                            .result-box-container-right {
                                flex-wrap: wrap;

                                .content {
                                    padding-bottom: 1.2rem;
                                    gap: 1rem;
                                }

                                .content-right {
                                    border-left: none;
                                    border-top: 1px solid $stroke_color;
                                    width: 100%;
                                    padding-left: 0;
                                    padding-top: 1.2rem;

                                    .parking-rating {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        gap: 0.675rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 992px) {
    h1{
       font-size: 237%; 
    }
    h2{
        font-size: 175%;
    }
}

@media (max-width: 768px) {
    .section-21{
        .bg-image-style{
            height:450px;
        }
    }    
}

@media (max-width: 576px) {
    
	.container {
        max-width: 100%;
    } 
           
    .offcanvas{
        width: 100%;        
    }
     .seach-results {
        .row {
            .search-results-right {
                .result-box {
                    .result-box-container {
                        padding: 0.5rem;
                        flex-wrap: wrap;
                        justify-content: center;

                        .result-box-container-left {
                            width: -webkit-fill-available;

                            img {
                                height: unset;
                                width: -webkit-fill-available;

                            }

                        }

                        .result-box-container-right {
                            flex-wrap: wrap;

                            .content {
                                padding-bottom: 1.2rem;
                                gap: 1rem;
                            }

                            .content-right {
                                border-left: none;
                                border-top: 1px solid $stroke_color;
                                width: 100%;
                                padding-left: 0;
                                padding-top: 1.2rem;

                                .parking-rating {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    gap: 0.675rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
}


@media (min-width: 768px) {
	.container {
        max-width: 768px;
    }  
    .navbar .contact-us{
    	display: block;
    }      
    
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
    .collapse.dont-collapse-sm{
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

@media (min-width: 1200px) {
	.container {
        max-width: 1440px;
    }    
}

@media (min-width: 1400px) {
	.container {
        max-width: 1440px;
    }  

    .section-2 {
        .common-title{
            padding-right: 180px;
        }
    }        
}