@media (max-width: 1300px) {
    header {
        .navbar {
            .nav-item {
                margin: 0 15px;                
            }           
        }        
    }

    .section-9{
        .tab-outer{
            padding: 35px 15px;            
        }
    }

    .section-2 {
        .service{
            padding: 30px 50px 30px 30px;
        }

        .common-title{
            padding-right:0px;
        }
    }
    .section-29{
        &.after{
            .secondary-title{
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 1200px) {
    header {
        .navbar{
            &.dark {
                .nav-link{
                    color: $primary_black;
                    &:hover,
                    &:active,
                    &:focus{
                        color: $primary_color;
                         border-bottom: 4px solid $primary_color;
                    }
                }
            } 
        }     
    }

    .navbar-toggler{
        background: $primary_color;
        color: $primary_white;
        width: 40px;
        height: 40px;
        padding: 0px;
        border-radius: 10px;
        box-shadow: 0 0 15px 1px rgb(0 0 0 / 7%);
        i{
            font-size: 120%;
        }
        &:active,
        &:focus,
        &:hover{
            box-shadow: none;
            outline: none;
        }
    }

    .offcanvas-header{
        justify-content: end;
        padding: 80px 40px 0px 0px;
        button{
            position: relative;
            background: $primary_color;
            width: 24px;
            height: 24px;
            color: $primary_white;
            opacity: 1;
            border-radius: 10px;
            box-shadow: 0 0 15px 1px rgb(0 0 0 / 7%);
            &:after{
                content: '\E810';
                position: absolute;
                font-family: 'fontello';
                color: $primary_white;
                top: 7px;
                left: 1px;
                right: 0px;
                font-size: 120%;
            }
        }
    }

    header {        
        .navbar {
            .nav-item {
                margin: 0 25px;
                .nav-link{
                    padding: 20px 0px;
                    display: inline-block;
                }
            }
        }
        .contact-us{
            margin-left: 20px;
            margin-top: 80px;
        }
    }   

    footer{
        .book-image{
           text-align: right;
           padding-right: 20px;
        }
    }

    .section-3{        
        &.before{
            .common-title{
                padding: 50px 0px 0px 50px;
            } 
        } 
        &.after{
            .common-title{
                padding: 50px 0px 0px 50px;
            } 
        }         
    }

    .section-9{
        .tab-outer{
            padding: 35px 25px;
            .nav-link{
                width: 45%;
                margin: 0px 7px;
                font-size: 85%;
                padding: 23px 0;
            }
        }
    }

    .section-10 {
        .primary-grey-bg{
            .nav-pills {
                .nav-item {
                    .nav-link{
                        margin: 0px 10px;
                    }
                }
            }
        }
    }

    .section-13{
        .nav{
            width: 25%;
        }
        .section-13{
            .tab-content{
                width: 75%;
            }
        }
    }    
}

@media (max-width: 992px) {
    h1{
       font-size: 237%; 
    }
    h2{
        font-size: 175%;
    }

    h3{

    }

    .common-title p {
        font-size: 100%;
    }

    header {   
        .navbar-brand{
            width: 160px;
        }    
        .contact-us{
            margin-left: 20px;
            margin-top: 80px;
        }
    }
    
    footer{       
        
        .copy-right{
            padding-top:15px;
        }
    }

    .section-1{
        min-height: auto;
        padding-top: 160px;
        padding-bottom: 100px;
        h1{
            span{
                padding-bottom: 0px;
            }
        }
        p{
            font-size: 125%;
            padding: 20px 0px;
        }

        &.small{
            min-height: 750px;
            .m-device{
                img{
                    position:absolute;
                    bottom:-70px;
                    width: 25%;
                }
            }
        }
        .form{
            width: 100%;
            padding: 70px 30px 40px 30px;

    
        }
        .btn{
            width: 204px;
            height: 50px;
            padding: 12px 0px;
            display: block;
        }
        .container{
            .m-device{
                display: flex;
                flex-direction: column;
                .satisfaction{
                    order: 3;
                    .review{
                        width:45%;
                        right: 0px;
                    }
                }
            }
            
            .m-order{
                &:nth-child(4){
                    order: 2;
                }
            }
        }
        
    }
    .manage-service{
        min-height: 650px;
        padding-top: 200px;
    }
    .section-2{
        .service{
            min-height: auto;
            padding: 20px 30px 30px 30px;
            h3{
                 font-size: 125%;
            }
            i{
                font-size: 500%;
            }
            .arrow{
                &:after{
                    font-size: 110%;
                    top: 4px;
                }
            }
        }
    }

    .section-3{
        min-height: 400px;
        .bg-image-style{
            width: 100%;
            position: relative;
            min-height: inherit;
        }
        &.before{
            .common-title{
                padding:50px 0px 50px 0px;
            } 
        } 
        &.after{
            .common-title{
                padding:50px 0px 50px 0px;
            } 
        } 
        a{
            position: relative;
            bottom: auto;
            margin-top: 20px;
        }      
    }

    .section-5 {
        .slick-slide{
            position: relative;
            .slider-body{
                position: absolute;
                bottom: 20px;
                padding: 0px 25px;     
                h3{
                    margin-bottom: 5px;
                }         
                h3,a{
                    color: $primary_white;
                }
            }
        }
    }

    .section-6{       
        .primary-grey-bg{
             p{
                font-size: 100%;
            }
            padding: 35px 40px;
        }
    }

    .section-8{
        .team-member{
            text-align: center;
            img{
                width: 141px;
            }
        }
    }

    .section-10{
        .primary-grey-bg{
            .nav-pills {
               overflow-x: auto;
                overflow-y: hidden;
                flex-wrap: nowrap;
                width: 100%;
                .nav-item{
                    width: auto;
                    flex: 0 0 auto;
                    margin: 0px 15px;                    
                    .nav-link{                        
                        padding: 0px;    
                        margin: 0px;                    
                    }
                    &:first-child{
                        margin-left: 0px;
                    }
                }
                
            }
        }      
    }

    .section-11{
        .common-title{
            padding-right: 30px;
        }
        .steps{
            &:after{
                left: 60px;
                height: calc(100% - 55px);
            }
            .stp-button{
                .btn-primary{
                    width: 125px;
                    padding: 12px 0px;
                }
            }
            .step{
                .stp-content{
                    display: block;
                    width: 100%;
                    p{
                        padding: 10px 0px 10px 15px;
                    }
                    .icon{
                        margin: 0px 0px 0px 15px;
                        font-size: 400%;
                    }
                }

            }
        }
    }

    .section-13{
        .nav{
            width: auto;
            overflow-x: auto;
            flex-wrap: nowrap;
            border-left:0px;
            border-bottom: 2px solid $secondary_grey;
            .nav-link{
                width: auto;
                flex: 0 0 auto;
                height: 95px;
                display: flex;
                align-items: center;
                padding: 0px;
                margin: 0 15px;
                border-bottom: 4px solid transparent;                
                &.active{
                    margin-left:15px;
                    border-left: 0px;
                    border-bottom: 4px solid $primary_color;
                }
                &:first-child{
                    margin-left: 0px;
                }
            }
        }
        .tab-content{
            width: 100%;
        }
    }

    .section-14{
        &:after{
          width: 100%;
          height: 50%;
            bottom: 0;
            top: auto;
        }

        &:before{
           width: 100%;
        }
        .common-title{
            padding:80px 0px 80px 0px;
        }
        a{
            margin-top: 50px;
            position: relative;
            bottom: auto;
        }
    }


    .section-16{
        .common-title{
            padding:80px 0px;
        }
        &:before{
            background-color:transparent;
        }
    }

    .section-17{
        .accordion-item{
            .accordion-header{
                padding: 0px 20px;
                .accordion-button{
                    font-size: 85%;
                }
            }
            .accordion-body{
                padding: 10px 20px 30px 20px
            }
        }
    }

    .section-20 {
        .slider-bottom{
            position: relative;
            bottom: unset;
            padding-right:0px;
        }
    }

    .section-21{
        .bg-image-style{
            width: 100%;
            position: relative;
            height: 750px;
        }
        .common-title{
            min-height: 500px;
            padding-bottom: 40px;
        }
        &.after{
            .common-title{
                margin-right:0px;
            }            
        }        
    }

    .section-29{
        .order-change{
            padding-bottom: 140px;
        }
        .bg-image-style{
            right: 0;
            left: 0;
            bottom: 0;
            top: inherit;
            height: 50%;
            width: 100%;
        }
        .secondary-title{
            align-items: center !important;
            margin-top: 0 !important;
            padding-bottom: 0px !important;
        }
        .common-title{
            margin-right:0px !important;
            min-height: 490px;
        }
        a{
            position: absolute;
            bottom: 0;
            top: inherit;
            right: inherit;
            left: 0;
        }
    }
}

@media (max-width: 768px) {
    .section-21{
        .bg-image-style{
            height:450px;
        }
    }    
}

@media (max-width: 576px) {
    
	.container {
        max-width: 100%;
    } 
    // .section-20{
    //     border:1px solid red;
    //     .nav{
    //         width: 100%;
    //         overflow-x: auto;
    //         overflow-y: hidden;
    //         padding: 2rem;
    //         color: #fff;
    //         text-align: left;
    //         flex-wrap: unset;
    //         -webkit-overflow-scrolling: touch;

    //     }
    //     ::-webkit-scrollbar {
    //         width: 100%;
    //         background: #e6e6e6;
    //         z-index: 10;
    //         height:1px;
    //     }
    //      ::-webkit-scrollbar-thumb {
    //         border-radius: 2px;
    //         background: #ed1b24;
    //     }
    // }         
    .offcanvas{
        width: 100%;        
    }
    .section-6{
        .primary-grey-bg {
            padding: 25px 20px;
        }
    }
}


@media (min-width: 768px) {
	.container {
        max-width: 768px;
    }  
    .navbar .contact-us{
    	display: block;
    }      
    
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
    .collapse.dont-collapse-sm{
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

@media (min-width: 1200px) {
	.container {
        max-width: 1440px;
    }    
}

@media (min-width: 1400px) {
	.container {
        max-width: 1440px;
    }  

    .section-2 {
        .common-title{
            padding-right: 180px;
        }
    }        
}